// $font-stack:    Helvetica, sans-serif;
$font-stack: 'Montserrat', sans-serif;
$primary-color: #05B8CC;
$grey: rgb(242, 242, 242);
$darker-grey: rgb(145, 145, 145);

body {
	font: 100% $font-stack; 
	color: $darker-grey; }

ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px; }

li {
	border: 1px solid $grey;
	margin: 5px 5px; }

.outer-wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	border-color: $grey;
	border-width: 2px;
	border-bottom-style: solid; 
	padding-bottom: 25px;}


// 
// Start of team/player selction
// 
.select-list li {
	display: inline-block; 
	padding: 5px; }


// 
// Start of Seson Selection
// 



// 
// Start of stats selection
// 
.inner-wrapper {
	@extend .outer-wrapper;
	display: inline-block;
	width: 329px;
	border-bottom-style: none; 
	padding-bottom: 0px;}

.middle {
	border-bottom-style: none;
	border-left-style: solid;
	border-right-style: solid; }











